<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with model: [@trip, @plan, @spot], class:"trip-form", remote: true do |f| %>
      <div class='form-wrap'>
        <div class='form-header'>
          <div class='form-header-text'>
            スポット追加
          </div>
        </div>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <div class="form-text">スポット名</div>
          <%= f.text_field :name, class:"input-default", id:"name", placeholder:"*必須", autofocus: true %>
        </div>

        <div class="form-group">
          <div class="form-text">カテゴリー</div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"input-default", id:"category_id"}) %>
        </div>

        <div class="form-group">
          <div class="form-text">時間</div>
          <div class="form-group-date">
            <%= f.time_field :start_time, class:"input-default input-date", id:"start_time" %>
            <div class="tilde">〜</div>
            <%= f.time_field :end_time, class:"input-default input-date", id:"end_time" %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-text">金額</div>
          <%= f.number_field :fee, class:"input-default", id:"fee" %>
        </div>

        <div class="form-group">
          <div class="form-text">参考リンク</div>
          <%= f.text_field :link, class:"input-default", id:"link" %>
        </div>

        <div class="form-group">
          <div class="form-text">メモ</div>
          <%= f.text_area :memo, class:"input-default input-area", id:"memo" %>
        </div>

        <div class='register-btn'>
          <%= f.submit "完了" ,class:"register-red-btn" %>
        </div>

      </div>

    <% end %>
  </div>
</div>