<%= form_with model: [@trip, @plan, @spot], local: true do |f| %>
<div class='form-wrap'>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">スポット名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name, class:"input-default", id:"name", placeholder:"", autofocus: true %>
  </div>

    <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">カテゴリー</label>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"input-default", id:"category_id", placeholder:"", autofocus: true}) %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">開始時刻</label>
    </div>
    <%= f.time_select :start_time, class:"input-default", id:"start_time", placeholder:"", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">終了時刻</label>
    </div>
    <%= f.time_select :end_time, class:"input-default", id:"end_time", placeholder:"", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">金額</label>
    </div>
    <%= f.number_field :fee, class:"input-default", id:"fee", placeholder:"", autofocus: true %> 円
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">参考リンク</label>
    </div>
    <%= f.text_field :link, class:"input-default", id:"link", placeholder:"", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メモ</label>
    </div>
    <%= f.text_area :memo, class:"input-default", id:"memo", placeholder:"" %>
  </div>
  <div class="form-group">
  </div>

 <div class='register-btn'>
    <%= f.submit "追加する" ,class:"register-red-btn" %>
  </div>

<% end %>