    <% if @trips != nil %>
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip.id), class:"trip-list" do %>
          <div class="trip-image">
            <% if trip.trip_image.attached? %>
              <%= image_tag trip.trip_image, class:"trip-image-pic" %>
            <% elsif !trip.start_date %>
              <%= image_tag "default00", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 1 %>
              <%= image_tag "default01", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 2 %>
              <%= image_tag "default02", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 3 %>
              <%= image_tag "default03", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 4 %>
              <%= image_tag "default04", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 5 %>
              <%= image_tag "default05", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 6 %>
              <%= image_tag "default06", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 7 %>
              <%= image_tag "default07", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 8 %>
              <%= image_tag "default08", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 9 %>
              <%= image_tag "default09", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 10 %>
              <%= image_tag "default10", class:"trip-image-pic"%>
            <% elsif trip.start_date.mon == 11 %>
              <%= image_tag "default11", class:"trip-image-pic"%>
            <% else %>
              <%= image_tag "default12", class:"trip-image-pic"%>
            <% end %>
          </div>
          <div class="trip-title">
            <%= trip.title %>
          </div>
          <div class="trip-date">
             <% if trip.start_date && trip.end_date %>
              <%= l trip.start_date %> 〜 <%= l trip.end_date %>
            <% elsif trip.start_date && !trip.end_date %>
              <%= l trip.start_date %> 〜
            <% elsif !trip.start_date && trip.end_date %>
              〜 <%= l trip.end_date %>
            <% else %>
              未定
            <% end %>
          </div>
          <div class="trip-members">
            <% trip.users.each do |user| %>
              <div class="trip-member">
                <% if user.image.attached? %>
                  <%= image_tag user.image, class:"user-image-small" %>
                <% else %>
                  <%= image_tag "default_user.png", class:"user-image-small" %>
                <% end %>
                <%= user.name %>
              </div>
            <% end %>
          </div>
          <div class="trip-memo">
            <%= trip.memo %>
          </div>
        <% end %>
      <% end %>
    <% end %>