<%= render "shared/header" %>

<div class="show-main">

  <h2>編集モード</h2>


  <div class="show-trip">

    <div class="show-trip-content">
      <div class="show-trip-head">
        <h1 class="show-trip-title"><%= @trip.title %></h1>
        <div class="show-trip-edit">
          <%= link_to '編集する', edit_trip_path(@trip.id), remote: true, method: :get %>
          <%= link_to '削除する', trip_path(@trip.id), method: :delete %>
        </div>
      </div>

      <div class="show-trip-list">
        <div class="show-trip-left">期間</div>
        <div class="show-trip-right">
          <% if @trip.start_date && @trip.end_date %>
            <%= l @trip.start_date %> 〜 <%= l @trip.end_date %>
          <% elsif @trip.start_date && !@trip.end_date %>
            <%= l @trip.start_date %> 〜
          <% elsif !@trip.start_date && @trip.end_date %>
            〜 <%= l @trip.end_date %>
          <% else %>
            未定
          <% end %>
        </div>
      </div>

      <div class="show-trip-list">
        <div class="show-trip-left">メンバー</div>
        <div class="show-trip-right">
          <% @trip.users.each do |user| %>
            <div class="trip-member">
              <%= link_to user_path(user.id) do %>
                <% if user.image.attached? %>
                  <%= image_tag user.image, class:"user-image-small" %>
                <% else %>
                  <%= image_tag "default_user.png", class:"user-image-small" %>
                <% end %>
                <%= user.name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="show-trip-list">
        <div class="show-trip-left">合計金額</div>
        <div class="show-trip-right">
          <% if @total != nil %><%= @total %>円<% end %>
        </div>
      </div>

      <div class="show-trip-list">
        <div class="show-trip-left">メモ</div>
        <div class="show-trip-right"><%= @trip.memo %></div>
      </div>
    </div>

    <div class="show-trip-image">
      <%= render "trip_image" %>
    </div>

  </div>

  <div id="spot-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="plan-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <div class="show-plans" id="sort-list">
    <% if @plans %>
      <% @plans.each do |plan| %>
        <div class="show-plan">
          <div class="show-plan-list">
            <%= link_to "#{plan.daily}日目", edit_trip_plan_path(@trip.id, plan.id), remote: true %>
            <div>
              <% if plan.trip.start_date %>
                <%= l plan.trip.start_date + plan.daily - 1 %>
              <% end %>
            </div>
            <div>
              <% if plan.spots.sum(:fee) != nil %>
                合計：<%= plan.spots.sum(:fee) %>円
              <% end %>
            </div>
            <div class="show-plan-destroy">
              <%= link_to '削除', trip_plan_path(@trip.id, plan.id), method: :delete %>
            </div>
          </div>

          <div class="show-spots">
            <ul class="show-spots-list", id="sort<%= plan.id %>">
              <% if plan.spots %>
                <% @spots.each do |spot| %>

                  <% if spot.plan_id == plan.id %>
                    <li class="show-spot show-spot-sort", id="spot<%= spot.id %>", data: { model_name: spot.class.name.underscore, update_url: spot_sort_path(spot)}>
                      <div class="show-spot-upper">
                        <div class="show-spot-time">
                          <div class="show-spot-start-time">
                            <% if spot.start_time %><%= l spot.start_time %><% end %>
                          </div>
                          <div class="show-spot-while-time"><i class="fas fa-ellipsis-v fa-lg"></i></div>
                          <div class="show-spot-end-time">
                            <% if spot.end_time %><%= l spot.end_time %><% end %>
                          </div>
                        </div>

                        <div class="show-spot-category"><%= raw spot.category.icon %></div>

                        <div class="show-spot-main">
                          <div><%= spot.name %></div>
                        </div>
                        
                        <div class="show-spot-fee">
                          <% if spot.fee %><%= "#{spot.fee}円" %><% end %>
                        </div>

                        <div class="show-spot-editor">
                          <div class="show-spot-edit">
                            <%= link_to edit_trip_plan_spot_path(@trip.id, plan.id, spot.id), remote: true, method: :get do %>
                              <i class="fas fa-edit"></i>
                            <% end %>
                          </div>
                          <div class="show-spot-delete">
                            <%= link_to trip_plan_spot_path(@trip.id, plan.id, spot.id), method: :delete do %>
                              <i class="fas fa-trash-alt"></i>
                            <% end %>
                          </div>
                          <% if spot.link != "" || spot.memo != "" %>
                            <a data-toggle="collapse" href="#collapse<%= spot.id %>", id="button<%= spot.id %>"><i class="fas fa-chevron-down"></i></a>
                          <% else %>
                            <p><i class="fas fa-chevron-down" style="color: transparent;"></i></p>
                          <% end %>
                        </div>
                      </div>

                      <div id="collapse<%= spot.id %>" class="show-spot-lower collapse">
                        <div class="show-spot-link"><i class="fas fa-link"></i> <%= link_to spot.link, spot.link, target: :_blank %></div>
                        <div class="show-spot-memo"><i class="fas fa-sticky-note"></i> <%= spot.memo %></div>
                      </div>
                    </li>

                    <script type="text/javascript">
                      $('#button<%= spot.id %>').click(function(){
                        $('#button<%= spot.id %>').toggleClass("fa-rotate-180"); 
                      });
                    </script>
                  <% end %>

                <% end %>
              <% end %>
            </ul>

            <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.js"></script>
            <script type="text/javascript">
            new Sortable(sort<%= plan.id %>,{
              animation: 150,
              delay: 100,
              onUpdate: function(evt) {
                return $.ajax({
                  url: 'plans/<%= plan.id %>/sort',
                  type: 'get',
                  data: { from: evt.oldIndex, to: evt.newIndex }
                });
              }
            });
            </script>

            <div class="show-spot-new">
              <%= link_to 'スケジュール追加', new_trip_plan_spot_path(@trip.id, plan.id), remote: true %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="show-plan-list-add">
    <%= form_with(model: [@trip, @plan], local: true) do |f1| %>
      <%= f1.number_field :daily, class:"input-day" %>日目 
      <%= f1.submit '追加', class:"register-day-btn" %>
    <% end %>
  </div>

  <div class='register-btn'>
    <%= link_to "完了", trip_path(@trip.id), class:"register-fin-btn" %>
  </div>

</div>