<%= render "shared/header" %>
<div class="main-top-content" >
  <%= image_tag "IMG_9122-Edit3.jpg", class:"main-top-image" %>
</div>
<h1>トップページ</h1>
<p>みんなの旅</p>
<div class="trip-lists">
  <% if @trips != nil %>
    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip.id), class:"trip-list" do %>
        <div class="trip-image">
        </div>
        <div class="trip-title">
          <%= trip.title %>
        </div>
        <div class="trip-date">
          <%= trip.start_date %>〜
          <%= trip.end_date %>
        </div>
        <div class="trip-members">
          <% trip.users.each do |user| %>
            <div class="trip-member">
              <% if user.image.attached? %>
                <%= image_tag user.image, class:"trip-user-image" %>
              <% end %>
              <%= user.name %>
            </div>
          <% end %>
        </div>
        <div class="trip-memo">
          <%= trip.memo %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>