<%= render "shared/header" %>
<div class="main-top-content" >
  <%= image_tag "IMG_4812-3.jpg", class:"main-top-image-l" %>
  <%= image_tag "IMG_4812-2.jpg", class:"main-top-image-m" %>
  <%= image_tag "IMG_4812.jpg", class:"main-top-image-s" %>
  <div class="main-top-text">
    <div class="main-top-text-l">旅に出よう。</div>
    <div class="main-top-text-s">
      <p>trip diary は、あなたの旅の計画をお手伝い。</p>
      <p>自由にプランニングして、みんなで楽しく考える、</p>
      <p>そんな時間を、もっと大切に。</p>
    </div>
  </div>
</div>

<div class="main">

  <h2>おすすめスポット</h2>
  <div class="wp-items">
  <% @items.shuffle.first(4).each_with_index do |item, i| %>
    <%= link_to item["link"], target: '_blank', class:"wp-item wp-item#{i}" do %>
      <%= image_tag item["_embedded"]["wp:featuredmedia"][0]["media_details"]["sizes"]["full"]["source_url"], class:"trip-image" %>
      <p class="wp-title"><%= item["title"]["rendered"] %></p>
      <div class="wp-site">
        <%= image_tag "wp-favicon.png", class:"wp-favicon"%>
        <p class="wp-url">18kipper.com</p>
      </div>
    <% end %>
  <% end %>
  </div>

  <h2>みんなの旅</h2>
  <div class="trip-lists">
    <%= render "trip_list" %>
  </div>

</div>