<%= render "shared/header" %>
<div class="main-top-content" >
  <%= image_tag "IMG_4812-3.jpg", class:"main-top-image-l" %>
  <%= image_tag "IMG_4812-2.jpg", class:"main-top-image-m" %>
  <%= image_tag "IMG_4812.jpg", class:"main-top-image-s" %>
  <div class="main-top-text">
    旅に出よう。
  </div>
</div>

<div class="main">

  <div class="trip-lists">
    <%= render "trip_list" %>
  </div>

</div>