<%= render "shared/header" %>
<div class="trip-show">
  <div>
    <% if user_signed_in? && editor_user? %>
      <%= link_to '編集する', edit_trip_path(@trip.id), method: :get %>
      <%= link_to '削除する', trip_path(@trip.id), method: :delete %>
    <% end %>
  </div>

  <div>
    <p><%= @trip.title %></p>
    <p>開始日：<%= @trip.start_date %></p>
    <p>終了日：<%= @trip.end_date %></p>
    <p><%= @trip.memo %></p>
    <p>参加者</p>
    <% @trip.users.each do |user| %>
      <p><%= user.name %></p>
    <% end %>
  </div>

  <div>
    <% if @plans %>
      <% @plans.each do |plan| %>
        <div>
          <%= "#{plan.daily}日目" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form_with(model: [@trip, @plan], local: true) do |f1| %>
      <%= f1.number_field :daily %>日目
      <%= f1.submit '追加' %>
    <% end %>
  </div>

</div>