<%= render "shared/header" %>

<div class="show-main">

  <div class="show-trip">

    <div class="show-trip-head">
      <h1 class="show-trip-title"><%= @trip.title %></h1>
      <div class="show-trip-edit">
        <% if user_signed_in? && editor_user? %>
          <%= link_to '編集する', edit_trip_path(@trip.id), method: :get %>
          <%= link_to '削除する', trip_path(@trip.id), method: :delete %>
        <% end %>
      </div>
    </div>

    <div class="show-trip-list">
      <div class="show-trip-left">期間</div>
      <div class="show-trip-right">
        <% if @trip.start_date && @trip.end_date %>
          <%= l @trip.start_date %> 〜 <%= l @trip.end_date %>
        <% elsif @trip.start_date && !@trip.end_date %>
          <%= l @trip.start_date %> 〜
        <% elsif !@trip.start_date && @trip.end_date %>
          〜 <%= l @trip.end_date %>
        <% else %>
          未定
        <% end %>
      </div>
    </div>

    <div class="show-trip-list">
      <div class="show-trip-left">メンバー</div>
      <div class="show-trip-right">
        <% @trip.users.each do |user| %>
          <div class="trip-member">
            <%= link_to user_path(user.id) do %>
              <% if user.image.attached? %>
                <%= image_tag user.image, class:"user-image-small" %>
              <% end %>
              <%= user.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="show-trip-list">
      <div class="show-trip-left">メモ</div>
      <div class="show-trip-right"><%= @trip.memo %></div>
    </div>
  </div>

  <div>
    <% if @plans %>
      <% @plans.each do |plan| %>
        <div class="show-plan">
          <h2><%= "#{plan.daily}日目" %></h2>
          <div>
            <% if plan.trip.start_date %>
              <%= l plan.trip.start_date + plan.daily - 1 %>
            <% end %>
          </div>
          <div class="show-plan-destroy">
            <% if editor_user? %>
              <%= link_to '削除', trip_plan_path(@trip.id, plan.id), method: :delete %>
            <% end %>
          </div>
        </div>

        <div class="show-spot">
          <div class="show-spot-list">
            <% if plan.spots %>
              <% plan.spots.each do |spot| %>
                <%= spot.name %>
                <%= spot.category.name %>
                <% if spot.start_time %>
                  <%= l spot.start_time %>
                <% end %>
                <% if spot.end_time %>
                  <%= l spot.end_time %>
                <% end %>
                <%= "#{spot.fee}円" %>
                <%= link_to spot.link, spot.link, target: :_blank %>
                <%= spot.memo %>
                <% if editor_user? %>
                  <%= link_to '編集', edit_trip_plan_spot_path(@trip.id, plan.id, spot.id), method: :get %>
                  <%= link_to '削除', trip_plan_spot_path(@trip.id, plan.id, spot.id), method: :delete %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="show-spot-new">
            <% if editor_user? %>
              <%= link_to 'スケジュール追加', new_trip_plan_spot_path(@trip.id, plan.id) %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>

  <div>
    <% if editor_user? %>
      <%= form_with(model: [@trip, @plan], local: true) do |f1| %>
        <%= f1.number_field :daily %>日目 
        <%= f1.submit '追加' %>
      <% end %>
    <% end %>
  </div>

</div>