<%= render "shared/header" %>
<div class="main-top-content" >
  <%= image_tag "IMG_9122-Edit3.jpg", class:"main-top-image" %>
</div>

<div class="main">

  <div class="user-info">
    <div><%= image_tag @user.image, class:"image-list" %></div>
    <div class="user-info-right">
      <p class="user-name"><%= @user.name %></p>
      <p class="user-id">ID：<%= @user.id %></p>
      <% if current_user.id == @user.id %>
        <p><%= link_to 'ユーザー情報の編集', edit_user_path(current_user), method: :get %></p>
      <% end %>
    </div>
  </div>

  <div class="trip-lists">
    <% if @trips != nil %>
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip.id), class:"trip-list" do %>
          <div class="trip-image">
          </div>
          <div class="trip-title">
            <%= trip.title %>
          </div>
          <div class="trip-date">
            <%= trip.start_date %>〜
            <%= trip.end_date %>
          </div>
          <div class="trip-members">
            <% trip.users.each do |user| %>
              <div class="trip-member">
                <% if user.image.attached? %>
                  <%= image_tag user.image, class:"user-image-small" %>
                <% end %>
                <%= user.name %>
              </div>
            <% end %>
          </div>
          <div class="trip-memo">
            <%= trip.memo %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>